body{
    background-color: black;
    color: white;
    font :20px bold Roboto, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #00005AFF;
    border: #00005AFF solid 10px;
    border-radius: 15px;
}
button{
       color: white;
    text-decoration: none;
    font-weight: bold;
    background: #00005AFF;
    border: #00005AFF solid 10px;
    border-radius: 15px;
}
nav > a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font :50px bold Roboto, sans-serif;
    color:black;
    background: rgba(255, 255, 255, 0.9);
    border: rgba(255, 255, 255, 0.1) solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    margin: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

article{
    background: #000022;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

article button {
    background-color: #00005a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
}

article button:hover {
    background-color: #0a0a9c;
    transform: scale(1.1);
}

input, textarea{
    border-radius: 20px;
    background: #000000;
    border: white solid 5px;
    font : 20px Roboto, sans-serif;
    color: white;
}

.pollcreate{
        display: inline-block;
    text-align: center;

    font :40px bold Roboto, sans-serif;
    text-decoration: none;
    background-color: #00005a;
    color: white;
    border: white solid 3px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
}

.pollcreate:hover{
    background-color: #0a0a9c;
    transform: scale(1.1);
}

#holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.flash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}