body{
    background-color: #03314a;
    color: white;
    font :20px bold Roboto, sans-serif;
}

a{
    color: white;
    font :20px bold Roboto, sans-serif;
}

button{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    border: #ffffff solid 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.2s ease-out;
}
button:hover{
    transform: scale(1.1);
}
article button:hover{
    border: #9af9ff solid 10px;
    background-color: #9af9ff;
    transform: scale(1.1);
}

article button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #6FD1D7;
    border: #6FD1D7 solid 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.2s ease-out;
}
.none1{
    background: none;
    box-shadow: none;
    border: none;
}
nav > a, .pollcreate, .signedout>a, #id1{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font :35px bold Roboto, sans-serif;
    color:#FFFFFF;
    -webkit-text-stroke: #FFFFFF 2px;
    background: #3B7597;
    border: #3B7597 solid 10px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    margin: 20px;
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.2s ease-out;
}



nav > a:hover, .pollcreate:hover, .signedout>a:hover, #id1:hover{
    border: #ffffaf solid 10px;
    background-color: #ffffaf;
    transform: scale(1.1);
}
nav, .signedout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

article{
    background: #3B7597;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}



input, textarea{
    border-radius: 20px;
    background: #065381;
    border: white solid 5px;
    font : 20px Roboto, sans-serif;
    color: white;
}


#holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.flash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    margin: 20px auto;
}

hr{
    width: 90%;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
}

input[type=radio]{
    width: 20px;
    height: 20px;
}

input[type=radio]:hover{
    transform: scale(1.1);
}