{% extends "layout.html" %}
{% block content %}
<form method="POST">
    <label>Poll Name</label>
    <input type="text" name="name" required>

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Category</label>
    <input type="radio" name="category" value="Food"> Food
    <input type="radio" name="category" value="Travel"> Travel

    <label>Privacy</label>
    <input type="radio" name="privacy" value="0"> Public
    <input type="radio" name="privacy" value="1"> Private

    <hr>
    <label>Option 1</label>
    <input type="text" name="option1name">

    <label>Option 2</label>
    <input type="text" name="option2name">

    <label>Option 3</label>
    <input type="text" name="option3name">

    <button type="submit">Create Poll</button>
</form>
{% endblock %}