{% extends "layout.html" %}
{% block content %}
<h1>{{ poll.name }}</h1>
<p>{{ poll.description }}</p>
<p>Created by: <a href="{{ url_for('userview', user_id=poll.user_id) }}">{{ poll.creator.username }}</a></p>
<p>{{ poll.created_at.strftime('%Y-%m-%d %H:%M')}}</p>

<h3>Choices:</h3>
    <form method="post">
        {% for opt in poll.options %}
        <input type="radio" id="{{ opt.id }}" name="voting" value="{{ opt.id }}">
        <label for="{{ opt.id }}">{{ opt.optionname }}</label>
            <label>-</label>
        <label for="{{ opt.id }}">{{ opt.votes_total }}</label>
        <br>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
    <a href="{{ url_for('pollai', id=poll.id) }}">
        Analyze with AI
    </a>
{% endblock %}